div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header
        div.mdl-layout__header-row
            span.mdl-layout-title Home
        div.mdl-layout-spacer
    div.mdl-layout__drawer
        span.mdl-layout-title UHI Tool
        nav.mdl-navigation
            a(href="/home").mdl-navigation__link Home
            a(href="/facets").mdl-navigation__link Facets
            a(href="/analyze").mdl-navigation__link Analyze
    main(data-hook="widgets").mdl-layout__content

           div.mdl-grid
             div.mdl-cell.mdl-cell--3-col
             div.mdl-cell.mdl-cell--6-col
                h1 UHI tool
                p This web site enables a visual exploration of the urban heat island climatology developed in the Summer in the City project, a project of the meteorology and air quality group at the Wageningen University, and the Netherlands eScience Center.

                p Medium (50th percentile) and extreme (95th percentile) values for the urban heat island are calculated for each neighborhood in the Netherlands. These are combined with demographic data from the Dutch statsitical office (CBS) and the Kadaster (<a href="https://www.cbs.nl/nl-nl/achtergrond/2013/06/wijk-en-buurtkaart-2012">Wijk en buurt kaart 2012</a>) to assess the impact of a heatwave on the Netherlands. This can be the percentage of risk groups (persons older than 65, or younger than 15) exposed to a high UHI, or the relation between social economic factors like income and UHI.

                p For details on the heat wave map, see <a href="https://github.com/summerinthecity/heatwavemap">this page</a> For information on the Summer in the City project see <a href="https://nlesc.gitbooks.io/summerinthecity/content/">here</a>.  <i> This page requires an up to date browser, and has only been tested on <a href="https://www.google.com/chrome/">Google Chrome</a></i>
             div.mdl-cell.mdl-cell--3-col
      
            div.mdl-grid
               div.mdl-cell.mdl-cell--4-col
                a(data-hook="download")
                 div.card-wide.mdl-card.mdl-shadow--2dp
                   div(style="background-size: contain").mdl-card__title.sessiondownload
                   div.mdl-card__supporting-text
                     | Download your current session

               div.mdl-cell.mdl-cell--4-col
                label(for="uploadBtn" data-hook="session-upload")
                 div(data-hook="upload").card-wide.mdl-card.mdl-shadow--2dp
                   div(style="background-size: contain").mdl-card__title.sessionupload
                   div.mdl-card__supporting-text
                     | Load a previously saved session
                input(type="file" data-hook="session-upload-input" id="uploadBtn")

               div.mdl-cell.mdl-cell--4-col
                a(data-hook="demo" href="/analyze")
                 div.card-wide.mdl-card.mdl-shadow--2dp
                   div(style="background-size: contain").mdl-card__title.startdemo
                   div.mdl-card__supporting-text
                     | Start the demo session


           div.mdl-grid
             div.mdl-cell.mdl-cell--5-col.mdl-cell--middle
               a(href="http://www.nlesc.nl")
                   img(src="images/logo_netherlands_escience_center.jpg") 
             div.mdl-cell.mdl-cell--2-col
             div.mdl-cell.mdl-cell--5-col.mdl-cell--middle
               a(href="http://www.wageningenur.nl/en/Expertise-Services/Chair-groups/Environmental-Sciences/Meteorology-and-Air-Quality-Group.htm")
                   img(src="images/logo_wageningen.png") 

